.visible {
    display: block;
}

.invisible {
    display: none;
}

.red-morale {
    color: red;
}

.yellow-morale {
    color: yellow;
}

.green-morale {
    color: green;
}

.error-message {
    color: red;
    font-size: 24px;
}

.home-page-wrapper {
    top: 150px;
}

.user-page-wrapper {
    min-height: 1000px;
    width: 100%;
}

.user-page-wrapper > div:nth-of-type(1) {
    top: 150px;
}

.user-page-wrapper h2 {
    text-align: left;
    margin-left: 5px;
    font-family: Calibri;
    display: inline-block;

}

.retro-item {
    border-radius: 10px;
    background-color: #95c6a6;
    margin: 10px;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms;
}

.retro-item:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.6);
}

.retro-item img {
    margin-top: 5px;
    width: 100%;
    height: 150px;
}

.retro-item p {
    color: #0b0b0b;
}

.retro-item #date {
    margin: 5px;
    height: 35px;
}

.retro-item #morale {
    margin: 5px 0 5px 70px;
}

.retro-items-scroll-pane {
    margin-left: 160px;
    /* height: 650px;
       overflow: scroll;*/
}

.retroButton {
    -moz-box-shadow: inset 0px 4px 14px -3px #f2fadc;
    -webkit-box-shadow: inset 0px 4px 14px -3px #f2fadc;
    box-shadow: inset 0px 4px 14px -3px #f2fadc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background: -moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892', GradientType=0);
    background-color: #dbe6c4;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    border: 2px solid #b2b8ad;
    display: inline-block;
    cursor: pointer;
    color: #595f54;
    font-family: Courier New;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ced9bf;
    float: right;
    margin: 50px 180px auto;
}

.retroButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background: -moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4', GradientType=0);
    background-color: #9ba892;
}

.retroButton:active {
    position: relative;
    top: 1px;
}

.retroDetailsModal {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background: -moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
}

.retroDetailsModal > div:last-child {
    align-items: center;
    justify-content: center;
}

.retroDetailsModal img {
    height: 250px;
    width: 250px;
}

#modalDate {
    font-size: 24px;
    color: #0b0b0b;
    font-family: Courier New;
    font-weight: bold;
    padding-left: 25px;
    display: inline-block;
}

#modalMorale {
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: #0b0b0b;
    font-family: Courier New;
    font-weight: bold;
}

.stop-doing-retro-detail {
    background-color: #FFF5D9;
    padding: 10px;
    border-radius: 5px;
    max-height: 550px;
}

.stop-doing-retro-detail span {
    margin: 0 0 10px 0;
}

.start-doing-retro-detail {
    background-color: #f6ffe3;
    padding: 10px;
    border-radius: 5px;
    max-height: 550px;
}

.start-doing-retro-detail span {
    margin: 0 0 10px 0;
}

.keep-doing-retro-detail {
    background-color: #E7F7F6;
    padding: 10px;
    border-radius: 5px;
    max-height: 550px;
}

.keep-doing-retro-detail span {
    margin: 0 0 10px 0;
}

.retroDetailsWrapper {
    padding: 0 20px 0 20px;
}

.retro-room-wrapper {
    width: 100%;
}

.retro-room-wrapper h2 {
    display: flex;
    justify-content: center;
}


.link-section {
    background-color: #F7F7F6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.link-section h4 {
    color: black;
}

.link-section span {
    color: #0056b3;
}

.input-field {
    padding: 10px;
    border: 1px solid slategray;
    color: #333;
    border-radius: 10px;
    line-height: 1.33;
}

.input-field:focus {
    outline-width: 0;
}

.retro-item-button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #80bdff;
}

.retro-room-bottom-wrapper {
    justify-content: center;
    margin-top: 50px;

}

.retro-room-bottom-wrapper input {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    outline-width: 0;
}