@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

@import './bootstrap.min.css';
@import 'owl.carousel.min.css';
@import 'animate.css';
@import 'magnific-popup.css';
@import 'font-awesome.min.css';

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #404551;
    line-height: 1.2;
}

a,
a:hover,
a:focus,
a:active {
    font-weight: 700;
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

li {
    list-style: none;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #abadbe;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    line-height: 1.9;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section_padding_50_0 {
    padding-top: 50px;
    padding-bottom: 0;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_100_0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section_padding_100_50 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_padding_50_20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section_padding_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_0_100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section_padding_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section_padding_0_50 {
    padding-top: 0;
    padding-bottom: 50px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-100 {
    margin-left: 100px;
}

#preloader {
    overflow: hidden;
    background-color: #211b31;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.mosh-preloader {
    overflow: hidden;
    -webkit-animation: 3000ms linear 0s normal none infinite running mosh-preloader;
    animation: 3000ms linear 0s normal none infinite running mosh-preloader;
    background-color: transparent;
    border-color: #f1f2f3 #f1f2f3 #4a7aec;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    height: 50px;
    left: calc(50% - 25px);
    position: relative;
    top: calc(50% - 25px);
    width: 50px;
    z-index: 9;
}

@-webkit-keyframes mosh-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes mosh-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#scrollUp {
    bottom: 0;
    font-size: 24px;
    right: 30px;
    width: 40px;
    background: #4a7aec;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 38px;
    border-radius: 0;
    box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.15);
}

.mosh-table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.mosh-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.section-heading {
    margin-bottom: 100px;
}

.section-heading > p {
    font-weight: 700;
    color: #bec0cc;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-heading > h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 900;
}

.section-heading > h5 {
    font-size: 22px;
    color: #abadbe;
    line-height: 1.8;
    font-weight: 500;
}

.mosh-btn {
    background-color: #4a7aec;
    min-width: 150px;
    height: 54px;
    padding: 0 30px;
    border-radius: 70px;
    color: #fff;
    font-size: 14px;
    line-height: 54px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.mosh-btn:hover {
    background-color: #1a3c8d;
    color: #fff;
}

.bg-overlay,
.bg-overlay-white {
    position: relative;
    z-index: 1;
}

.bg-overlay:after,
.bg-overlay-white:after {
    background-color: rgba(33, 27, 49, 0.88);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    position: absolute;
}

.bg-overlay-white:after {
    background-color: rgba(231, 235, 246, 0.89);
}

.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------
:: Header Area CSS
-------------------------- */

.header_area {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    padding: 0 15px;
    height: 120px;
    background-color: transparent;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
}

.menu_area {
    position: relative;
    z-index: 2;
}

.menu_area #nav .nav-link {
    color: #fff;
    display: block;
    font-size: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0 15px;
}

.menu_area .dropdown-menu.show {
    border: none;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.15);
}

.menu_area .dropdown-item {
    font-size: 14px;
    font-weight: 700;
    color: #9597a6;
}


.header-dropdown a {
    background-color: #fff !important;
}

.menu_area #nav .nav-link:hover,
.menu_area #nav .nav-item.active .nav-link,
.menu_area .dropdown-item:hover {
    color: #4a7aec;
}

.login-register-btn a {
    color: #4a7aec;
    display: inline-block;
    font-weight: 500;
}

.login-register-btn a:hover {
    color: #fff;
}

.search-button > a {
    margin: 0 80px;
}

.navbar-nav {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}


/* Sticky CSS */

.header_area.sticky {
    background-color: #25499f;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo_image {
    height: 80px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --------------------------
::  Welcome Area CSS
-------------------------- */

.welcome_area {
    position: relative;
    z-index: 2;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.welcome_area.login {
    position: relative;
    z-index: 2;
    height: 1030px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-slides {
    position: relative;
    z-index: 2;
}

.single-hero-slide {
    min-height: 1200px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero-slide-content h2 {
    font-size: 60px;
    color: #fff;
    line-height: 1.8;
}

.hero-slide-content h4 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}

.hero-slide-content .slide-img {
    color: #fff;
    margin-top: 100px;
    font-weight: 400;
}

.hero-slides .owl-prev,
.hero-slides .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    line-height: 60px;
    text-align: center;
    top: 50%;
    margin-top: -30px;
    left: 50px;
    border-radius: 50%;
    color: #a2baff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.hero-slides .owl-next {
    left: auto;
    right: 50px;
}

.hero-slides .owl-prev:hover,
.hero-slides .owl-next:hover {
    background-color: #4a7aec;
}


/* --------------------------
:: Footer Area CSS
-------------------------- */

.footer-area {
    position: relative;
    z-index: 1;
    background-color: #211b31;
}

.single-footer-widget h5 {
    color: #fff;
    margin-bottom: 50px;
}

.single-footer-widget ul > li > a {
    color: rgba(226, 219, 243, 0.30);
    margin-bottom: 10px!important;
    display: block;
    font-weight: 500;
}

.single-footer-widget ul > li > a:last-child {
    margin-bottom: 0;
}

.single-footer-widget ul > li > a:hover {
    color: #ffffff;
}

.single-footer-widget img {
    height: 100px;
    width: 120px;
}

.copyright-text {
    width: 50%;
    margin: 0 auto;
}

.copyright-text > p {
    margin-bottom: 0;
    font-size: 13px;
}

.footer-social-info > a {
    color: #abadbe;
    padding: 0 15px;
    display: inline-block;
    font-size: 13px;
}

.footer-social-info > a:hover {
    color: #fff;
}

.footer-single--blog-post {
    margin-bottom: 30px;
}

.footer-single--blog-post:last-child {
    margin-bottom: 0;
}

.footer-single--blog-post .blog-post-date > p {
    font-size: 12px;
    margin-bottom: 5px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.footer-single--blog-post .blog-post-title > h6 {
    font-size: 14px;
    margin-bottom: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.footer-single--blog-post .blog-post-date > p:hover,
.footer-single--blog-post .blog-post-title > h6:hover {
    color: #4a7aec;
}

.footer-single-contact-info .contact-icon {
    margin-right: 15px;
}

.footer-bottom-area {
    background-color: #191426;
    height: 60px;
}

/* Sonar CSS */

.testimonial-thumb:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 50%;
    top: 3px;
    left: 3px;
    -webkit-animation: sonar-effect 1s ease-in-out 0s infinite;
    animation: sonar-effect 1s ease-in-out 0s infinite;
    z-index: -1
}

.testimonials-slides .center .testimonial-thumb:before {
    display: none;
}

@-webkit-keyframes sonar-effect {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 3px #4a7aec, 0 0 5px 5px #4a7aec, 0 0 0 5px #4a7aec;
    }
    100% {
        box-shadow: 0 0 0 3px #4a7aec, 0 0 5px 5px #4a7aec, 0 0 0 5px #4a7aec;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}


@keyframes sonar-effect {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 3px #4a7aec, 0 0 5px 5px #4a7aec, 0 0 0 5px #4a7aec;
    }
    100% {
        box-shadow: 0 0 0 3px #4a7aec, 0 0 5px 5px #4a7aec, 0 0 0 5px #4a7aec;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.mosh-cool-facts-area.service-page {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 500px;
}

.mosh-cool-facts-area.service-page .counter-area h3,
.mosh-cool-facts-area.service-page .cool-facts-content p {
    color: #fff;
}

.skills-text > p {
    padding-right: 30px;
}

.skills-text > p:last-child {
    padding-right: 0;
}

/* -----------------------
::  Elements Area CSS
----------------------- */

.elements-title h2 {
    margin-bottom: 60px;
    font-size: 24px;
}

.mosh-btn.mosh-btn-2 {
    border: 2px solid #4a7aec;
    color: #404551;
    background-color: #fff;
}

.mosh-btn.mosh-btn-2:hover,
.mosh-btn.mosh-btn-2:focus {
    border: 2px solid #4a7aec;
    color: #fff;
    background-color: #4a7aec;
}

.mosh-btn.mosh-btn-3 {
    border: none;
    color: #404551;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

.mosh-btn.mosh-btn-3:hover,
.mosh-btn.mosh-btn-3:focus {
    color: #fff;
    background-color: #4a7aec;
}

.mosh-cool-facts-area {
    width: 100%;
}

.mosh-cool-facts-area .counter-area > h3 {
    color: #4a7aec;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1;
}

.mosh-cool-facts-area .cool-facts-content > p {
    color: #292d4f;
}
